<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" *ngIf="isLogged">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!isLogged">
    <img src="assets/img/login.png" class="icon">
    <br><br>
    <ion-item>
      <ion-label position="floating">Nombre de Usuario:</ion-label>
      <ion-input type="text" name="nombreUsuario" [(ngModel)]="form.nombreUsuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="form.password"></ion-input>
    </ion-item>
    <br><br>
    <ion-button expand="full" (click)="onLogin()" color="tertiary">Iniciar Sesión</ion-button>
    <br>
    <p routerLink="/registro" text-center>¿No tienes cuenta?</p>
  </div>
  <div *ngIf="isLogged">
    <img src="assets/img/box.png" class="icon">
    <br><br>
    <ion-text color="primary" text-center>
      <h1>Bienvenido <b>{{ nombreUser }}</b></h1>
    </ion-text>
    <br>

    <ion-button expand="full" (click)="onLogout()" color="tertiary">Cerrar Sesión</ion-button>
  </div>
  <br>
  <br>

</ion-content>